.button {
    width: 70px; 
    margin-right: 5px;
    margin-left: 5px;
}


.table {
    width: 100%; 
    table-layout: auto; 
}

.table th,
.table td {
    width: auto; 
    min-width: 100px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
}


.table .bank-name {
    width: auto; 
}

.table .account-holder {
    width: auto; 
}

.table .account-number {
    width: auto; 
}


@media (max-width: 768px) {
    .button {
        width: 100%; 
        margin: 5px 0; 
    }

   
    .table th, .table td {
        width: auto; 
        min-width: 80px; 
    }

    .table .bank-name, .table .account-holder, .table .account-number {
        min-width: 100px; 
    }
}


.table-responsive {
    overflow-x: auto; 
}

.table td .button-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 
}
