.button {
    width: 40px; 
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin-right: 5px;
    margin-left: 5px;
}
.custom-button {
    width: 200px; 
    margin: 0 5px; 
}

.form-control{
    height: 39px;
}


.table {
    width: 100%; 
    table-layout: auto; 
}

.table th,
.table td {
    width: auto; 
    min-width: 100px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
}


.table .bank-name {
    width: auto; 
}

.table .account-holder {
    width: auto; 
}

.table .account-number {
    width: auto; 
}


@media (max-width: 768px) {
    .button {
        width: 100%; 
        margin: 5px 0; 
    }

   
    .table th, .table td {
        width: auto; 
        min-width: 80px; 
    }

    .table .bank-name, .table .account-holder, .table .account-number {
        min-width: 100px; 
    }
}



.table td .button-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 
}

.container {
    overflow-x: auto; /* Allow horizontal scrolling */
}

.table {
    width: 100%; /* Full width */
    table-layout: fixed; /* Prevent overflow */
}

.table th, .table td {
    /* word-wrap: break-word; Break long words */
    white-space: normal; /* Allow wrapping */
}

/* Optional adjustments for smaller screens */
@media (max-width: 768px) {
    .table th, .table td {
        padding: 8px; /* Padding for better touch targets */
    }
    
    .button {
        width: 40%; /* Make buttons full width */
        margin: 2px 0; /* Adjust margins for mobile */
    }
}

@media (max-width: 768px) {
    .table-responsive-mobile {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
    }
  
    .table-responsive-mobile table {
      min-width: 600px; /* Set a minimum width for the table */
    }
  }
  

  