.main-sidebar {
  background-color: #343a40; /* Sidebar background */
  transition: width 0.3s ease;
  width: 250px;
}

.main-sidebar.collapsed {
  width: 80px;
}

.sidebar {
  transition: background-color 0.3s ease;
}

.sidebar.collapsed {
  background-color: #343a40;
}

.nav-link {
  white-space: nowrap;
  color: white;
  padding: 10px;
}

.main-sidebar.collapsed .nav-link p {
  display: none;
}

.sidebar-toggle {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: white;
  transition: background-color 0.3s;
  background-color: rgb(75, 75, 75);
}

.sidebar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.nav-icon {
  margin-right: 10px;
  flex-shrink: 0;
}

.nav-item {
  align-items: center;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(185, 180, 180);
}

.nav-link p {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

/* Styles for the dropdown */
.nav-treeview {
  display: none; /* Hide dropdown by default */
  padding-left: 15px; /* Indent dropdown items */
}

.nav-treeview.open {
  display: block; /* Show dropdown when open */
  margin-left: 20px; /* Indent the dropdown to align below */
}

.nav-item.has-treeview > .nav-link {
  cursor: pointer; /* Change cursor for clickable items */
}

/* Adjustments for nested dropdowns */
.nav-item .nav-treeview .nav-item {
  border-bottom: none; /* Remove border for dropdown items */
}

@media (max-width: 768px) {
  .main-sidebar {
    width: 100%;
    height: auto;
  }

  .main-sidebar.collapsed {
    width: 100%;
  }

  .sidebar-toggle {
    padding: 8px;
  }

  .nav-item {
    padding: 8px;
  }

  .nav-link {
    padding: 8px;
  }
}
