/* sidebar.css */
.main-sidebar {
  background-color: #343a40; 
  transition: width 0.3s ease; 
  width: 250px; 
}

.main-sidebar.collapsed {
  width: 80px; 
}

.sidebar {
  transition: background-color 0.3s ease; 
}

.sidebar.collapsed {
  background-color: #343a40; 
}

.nav-link {
  white-space: nowrap; 
  color: white; 
  text-overflow: ellipsis; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  padding: 10px; 
}

.main-sidebar.collapsed .nav-link p {
  display: none; 
}

.sidebar-toggle {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: white; 
  transition: background-color 0.3s;
}

.sidebar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}

.nav-content {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the start */
  padding: 10px; /* Add padding for spacing */
  flex-grow: 1; /* Allow flex items to grow equally */
}

.nav-icon {
  margin-right: 10px; /* Space between icon and text */
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.nav-item {
  align-items: center;
  display: flex;
  width: 100%; /* Make nav items take full width */
}

.nav-link p {
  margin: 0; /* Remove default margins from paragraphs */
  flex-grow: 1; /* Allow text to take remaining space */
  text-align: left; /* Align text to the left */
}
